.card {
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.1em solid $gray-lighter;
  box-shadow: 0.1em 0.1em 0.2em $gray-light;
  border-radius: 5px;
  margin: 10px;
  padding: 25px;
  min-height: 210px; // change to dynamic with js

  img {
    border-radius: 10px;
    padding:5px 0px
  }

  h1, h2, h3, h4, h5, h6 {
  color: $blue
 }
}